.fullscreen-menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #2e3336;
  z-index: 1000;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
}
.fullscreen-menu.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fullscreen-menu__close {
  display: block;
  position: absolute;
  top: rem(25px);
  right: rem(25px);
}

.fullscreen-menu__close-icon {
  width: rem(18px);
  height: rem(18px);
  fill: #c2c2c3;
}