.button {
    font-size: rem(18px);
    font-weight: bold;
    padding: rem(19px) rem(42px);
    text-transform: uppercase;
    border-radius: rem(100px);
    line-height: 1;
    background-color: $red;
    color: #fff;
    font-family: "Play";
    display: inline-block;
    border: none;

    &:hover {
        background: #CA1B36;
    }

    &--transparent {
        text-transform: none;
        font-size: rem(16px);
        background: transparent;
        color: #fff;
        text-decoration: none;
        padding: 0;
        margin-left: rem(15px);

        &:hover {
            color: $red;
            background: transparent;
        }
    }
    
}