.fullscreen-menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    background: #2e3336;
    z-index: 1000;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: none;
  
    &.active {
      display: flex;
    }
  }
  
  .fullscreen-menu__close {
    display: block;
    position: absolute;
    top: rem(25px);
    right: rem(25px);
  }
  
  
  .fullscreen-menu__close-icon{
    width: rem(18px);
    height: rem(18px);
    fill: #fff;
  }