.hello{
    width: 40%;
    @include tablets {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        &:before {
            content: "";
            width: rem(365px);
            height: rem(365px);
            margin-bottom: 59px;
            background: url("../img/main/headphone768.svg") center center / contain no-repeat;

        }
    }
}

.hello__title {
    font-size: rem(48px);
    line-height: 1.1;
    font-weight: bold;
    margin-bottom: rem(15px);
    text-transform: uppercase;

    @include tablets {
        padding: 0 6%;
        margin-bottom: 7px;
    }

    @include phones {
        padding: 3%;
    }
}

.hello__subtitle {
    font-size: rem(21px);
    margin-bottom: rem(47px);
    padding-right: 13%;

    @include tablets {
        padding: 0 24%;
        margin-bottom: 25px;
    }

    @include phones {
        padding:0 17%;
    }
        
}
