.radio {
    display: flex;
    cursor: pointer;
    user-select: none;
    margin-right: rem(24px);
    margin-bottom: rem(16px);
    position: relative;

    &--checkbox {
        .radio__visible {
            border-radius: 0;

            &:before {
                background: url("../img/icons/checkmark.svg") center center no-repeat;
            }
        }


    }

}

.radio__elem {
    appearance: none;
    position: absolute;
    width: rem(1px);
    height: rem(1px);
    outline: none;

    &:checked ~ .radio__visible {
        &:before {
            display: block;
        }
    }
}

.radio__visible {
    width: rem(26px);
    height: rem(26px);
    position: relative;
    border-radius: 50%;
    background: #fff;
    margin-right: rem(10px);

    &:before {
        content: "";
        width: rem(12px);
        height: rem(12px);
        background: $red;
        border-radius: 50%;
        position: absolute;
        display: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.radio__title {
    font-family: "play";
    color: #fff;
}